.card
{
    width: 380px;
    height: 500px;
    border-radius: 15px;
    margin: 10px 30px 10px 10px;
    text-align: center;
    background-color: rgb(250, 253, 253);
    box-shadow: rgb(204, 219, 232) 3px 3px 10px 0px inset,rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset ;
    display: flex;
    flex-direction: column;
}

.title
{
    align-content: center;
    padding: 15px 0 8px 0;
    font-size: 25px;
    font-weight: 500;
    margin: 2px;
}

.linebreak
{
    margin: 8px 20px 20px 20px;
    border: none;
    background-color: #0a070736;
    height: 1px;
}

.wrapperdiv
{
    flex-grow: 1;
    min-height: 100px;
    width: 100%;
}