.card
{
    width: 330px;
    height: 500px;
    border-radius: 15px;
    margin: 10px 30px 10px 10px;
    padding: 15px;
    text-align: center;
    background-color: rgb(250, 253, 253);
    box-shadow: rgb(204, 219, 232) 3px 3px 10px 0px inset,rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset ;
    
}

.title
{
    align-content: center;
    font-size: 25px;
    font-weight: 500;
    margin: 2px;
}

.linebreak
{
    margin: 10px 10px 20px 10px;
    border: none;
    background-color: #0a070736;
    height: 1px;
}